#root{
    -fx-background-image: url("../resources/background.png");
    -fx-background-size: 800 600;
    -fx-max-height: 100%;
    -fx-max-width: 100%;
    -fx-background-position: center center;

}

.button{
    -fx-background-image: url("../resources/Buttons/green_button1.png");
    -fx-pref-width: 130px;
    -fx-pref-height: 65px;
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-font-family:"Simpsonfont";
}

.button:hover{
    -fx-background-image: url("../resources/Buttons/orange_button1.png");
    -fx-pref-width: 130px;
    -fx-pref-height: 65px;
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-font-family:"Simpsonfont";
}

.button:pressed{
    -fx-background-image: url("../resources/Buttons/orange_button1.png");
    -fx-pref-width: 120px;
    -fx-pref-height: 65px;
    -fx-background-size: cover;
    -fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-font-family:"Simpsonfont";
}

#menuBox{
    -fx-background-image: url("../resources/menuContainer.png");
    -fx-background-size: cover;
    -fx-pref-height: 300;
    -fx-pref-width: 200;
}

#logo{
    -fx-background-image: url("../resources/KitchenCatastrophe.png");
    -fx-background-size: cover;
    -fx-width: 100;
    -fx-height: 100;
    -fx-pref-height: 300;
    -fx-pref-width: 200;
}